/*general*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:azure;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  vertical-align: bottom;
  margin-top: 10px;
  margin-left: 10px;
} 

div.logo{
  background-color: white;
  height: 75px;
}

.titolo{
  font-size: 40px;
  font-weight: 800;   
}


main{
  margin: 0 auto;
  width: 55%;
}

nav{
  background-color: white;
  height: 75px;
  margin-top: 70px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 18px;
  text-align: left;
  padding-left: 80px;
}

nav .task{
    display: inline-block;
    background-color: #21a9f8;
    height: 37px;
    width: 105px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

nav .section{
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: lightgrey;
  border-color: lightgrey;
  border: 2px solid lightgrey;
}

div.info{
  background-color: white;
  height: 580px;
  margin-top: 3px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 18px;
  text-align: left;
  padding-left: 80px;
}

h2{

  padding-top: 20px;
}

.menu{
  padding-top: 15px;
  padding-bottom: 10px;
}

.spunta{
  color: rgb(87, 224, 86);
  border: 2px solid rgb(86, 224, 86);
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

.x{
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;

}